fastapi~=0.118.2
uvicorn[standard]~=0.37.0
jinja2
python-multipart
gmpy2
reportlab
h11~=0.16.0
pip
cryptography
filelock
PyYAML
sniffio~=1.3.1
typing_extensions~=4.15.0
click~=8.2.1
MarkupSafe
pydantic~=2.12.0
pydantic_core~=2.41.1
starlette~=0.48.0
requests
websockets
anyio~=4.10.0
httptools
watchfiles
annotated-types~=0.7.0
httpx